.btn .btn-warning {
    
    border:none;
    background-color: transparent;
    height: 8px;
    width: 8px;
    
    
}
body{
   /* size: 100px;
   padding: 10px; */

}
.form-outline{
    padding-top: 10px;
}
